In [1]:
from collections import namedtuple
from pprint import pprint
from functools import reduce

In [3]:
apparels = namedtuple("apparels", ["data", "time", "city", "type", "amount", "card"])

In [4]:
apparels_list = []
with open("data/example.txt") as f:
    lines = f.read().split("\n")
    for words in lines:
            words = words.split("\t")
            try:
                apparels_list.append(apparels(data=words[0], time=words[1], city=words[2], type=words[3], amount=words[4], card=words[5]))
            except IndexError:
                print(words)

['']

In [5]:
apparels_list

[apparels(data='2012-07-16', time='15:43', city='Las Vegas', type="Men's Clothing", amount='208.97', card='Visa'),
 apparels(data='2012-06-11', time='16:17', city='Miami', type='Crafts', amount='84.11', card='Amex'),
 apparels(data='2012-10-17', time='15:30', city='Tucson', type='Crafts', amount='489.93', card='Cash'),
 apparels(data='2012-10-25', time='15:01', city='San Francisco', type="Men's Clothing", amount='388.3', card='Visa'),
 apparels(data='2012-07-13', time='09:01', city='Dallas', type='Consumer Electronics', amount='145.63', card='Cash'),
 apparels(data='2012-11-06', time='13:02', city='Tampa', type='Garden', amount='353.23', card='MasterCard'),
 apparels(data='2012-09-07', time='12:58', city='Washington', type="Women's Clothing", amount='481.31', card='MasterCard'),
 apparels(data='2012-08-05', time='16:34', city='San Jose', type='DVDs', amount='492.8', card='Discover'),
 apparels(data='2012-04-22', time='13:12', city='Newark', type='Consumer Electronics', amount='410.37', card='Visa'),
 apparels(data='2012-10-19', time='11:35', city='Memphis', type='Garden', amount='354.44', card='Discover'),
 apparels(data='2012-10-10', time='13:17', city='Jersey City', type='Books', amount='369.07', card='Amex'),
 apparels(data='2012-04-27', time='11:54', city='Plano', type="Women's Clothing", amount='4.65', card='Cash'),
 apparels(data='2012-08-28', time='14:56', city='Buffalo', type='Video Games', amount='337.35', card='Discover'),
 apparels(data='2012-09-17', time='13:09', city='Louisville', type='Music', amount='213.64', card='Discover'),
 apparels(data='2012-02-24', time='12:05', city='Miami', type="Women's Clothing", amount='154.64', card='Cash'),
 apparels(data='2012-01-02', time='10:04', city='Los', type='Angeles Pet Supplies', amount='164.5', card='Discover'),
 apparels(data='2012-11-15', time='15:46', city='Birmingham', type="Men's Clothing", amount='1.64', card='Cash'),
 apparels(data='2012-03-16', time='11:18', city='Mesa', type='Toys', amount='13.79', card='Visa'),
 apparels(data='2012-06-25', time='10:05', city='Wichita', type='Consumer Electronics', amount='158.25', card='Amex'),
 apparels(data='2012-04-05', time='17:03', city='Indianapolis', type='Pet Supplies', amount='152.77', card='Amex'),
 apparels(data='2012-11-08', time='15:19', city='San Bernardino', type='Video Games', amount='332.43', card='Discover'),
 apparels(data='2012-08-08', time='10:09', city='Indianapolis', type='Health and Beauty', amount='464.36', card='Amex'),
 apparels(data='2012-03-02', time='09:25', city='Stockton', type="Men's Clothing", amount='180.61', card='Discover'),
 apparels(data='2012-02-27', time='16:12', city='Austin', type='Health and Beauty', amount='48.09', card='Visa'),
 apparels(data='2012-12-29', time='16:56', city='Buffalo', type='Garden', amount='386.56', card='Amex'),
 apparels(data='2012-03-20', time='09:02', city='Santa Ana', type='Books', amount='2.75', card='Amex'),
 apparels(data='2012-10-30', time='11:52', city='Gilbert', type='DVDs', amount='11.31', card='Amex'),
 apparels(data='2012-02-03', time='11:02', city='New York', type='DVDs', amount='221.35', card='Visa'),
 apparels(data='2012-07-26', time='16:16', city='Corpus Christi', type='Health and Beauty', amount='157.91', card='Amex'),
 apparels(data='2012-07-20', time='11:46', city='Riverside', type='Video Games', amount='349.41', card='Visa'),
 apparels(data='2012-10-04', time='12:25', city='Chicago', type="Children's Clothing", amount='364.53', card='MasterCard'),
 apparels(data='2012-02-04', time='11:53', city='Fremont', type='Video Games', amount='404.17', card='Cash'),
 apparels(data='2012-05-31', time='14:43', city='Rochester', type='Video Games', amount='460.39', card='Amex'),
 apparels(data='2012-05-25', time='16:11', city='Raleigh', type='Computers', amount='61.22', card='MasterCard'),
 apparels(data='2012-05-11', time='12:39', city='Chicago', type='Pet Supplies', amount='431.73', card='Cash'),
 apparels(data='2012-04-07', time='11:39', city='Cincinnati', type='Computers', amount='288.32', card='Discover'),
 apparels(data='2012-04-18', time='16:57', city='Rochester', type='Consumer Electronics', amount='342.62', card='Amex'),
 apparels(data='2012-12-19', time='10:12', city='Pittsburgh', type='Books', amount='498.29', card='Cash'),
 apparels(data='2012-01-21', time='14:50', city='Rochester', type='Cameras', amount='485.71', card='MasterCard'),
 apparels(data='2012-11-15', time='09:23', city='Glendale', type='Video Games', amount='14.09', card='Amex'),
 apparels(data='2012-01-07', time='14:20', city='Cincinnati', type='Crafts', amount='1.41', card='Amex'),
 apparels(data='2012-10-20', time='14:53', city='Irvine', type='Video Games', amount='15.19', card='Discover'),
 apparels(data='2012-03-04', time='12:11', city='Boston', type='Video Games', amount='397.21', card='Visa'),
 apparels(data='2012-01-11', time='09:04', city='Scottsdale', type='Garden', amount='214.32', card='Discover'),
 apparels(data='2012-08-11', time='10:57', city='Atlanta', type='Garden', amount='189.22', card='Visa'),
 apparels(data='2012-05-22', time='13:08', city='Cincinnati', type="Men's Clothing", amount='443.78', card='Visa'),
 apparels(data='2012-01-11', time='17:20', city='Lubbock', type='Garden', amount='27.68', card='Cash'),
 apparels(data='2012-01-16', time='13:31', city='Cincinnati', type='Cameras', amount='129.6', card='Cash'),
 apparels(data='2012-02-10', time='10:39', city='Santa Ana', type='Computers', amount='282.13', card='MasterCard'),
 apparels(data='2012-03-22', time='09:57', city='Aurora', type='DVDs', amount='82.38', card='Discover')]

In [18]:
cities = set(reduce(lambda acc, val: acc + [val.city],apparels_list, [] ))

In [23]:
reduce(lambda acc, val: {**acc, **{val.city: acc[val.city] + float(val.amount) }}, apparels_list, {key:0 for key in cities})

{'Tucson': 489.93,
 'Los': 164.5,
 'Riverside': 349.41,
 'Memphis': 354.44,
 'Newark': 410.37,
 'Miami': 238.75,
 'Fremont': 404.17,
 'Birmingham': 1.64,
 'Boston': 397.21,
 'Aurora': 82.38,
 'Las Vegas': 208.97,
 'Atlanta': 189.22,
 'Gilbert': 11.31,
 'San Jose': 492.8,
 'Austin': 48.09,
 'Santa Ana': 284.88,
 'Scottsdale': 214.32,
 'Stockton': 180.61,
 'Jersey City': 369.07,
 'Buffalo': 723.9100000000001,
 'Irvine': 15.19,
 'New York': 221.35,
 'Washington': 481.31,
 'San Francisco': 388.3,
 'San Bernardino': 332.43,
 'Cincinnati': 863.11,
 'Mesa': 13.79,
 'Chicago': 796.26,
 'Dallas': 145.63,
 'Plano': 4.65,
 'Glendale': 14.09,
 'Indianapolis': 617.13,
 'Raleigh': 61.22,
 'Corpus Christi': 157.91,
 'Wichita': 158.25,
 'Pittsburgh': 498.29,
 'Rochester': 1288.72,
 'Tampa': 353.23,
 'Louisville': 213.64,
 'Lubbock': 27.68}

using groupby

In [24]:
from itertools import groupby

In [33]:
{x[0]: list(x[1]) for x in groupby(apparels_list, key=lambda x : x.city)}

{'Las Vegas': [apparels(data='2012-07-16', time='15:43', city='Las Vegas', type="Men's Clothing", amount='208.97', card='Visa')],
 'Miami': [apparels(data='2012-02-24', time='12:05', city='Miami', type="Women's Clothing", amount='154.64', card='Cash')],
 'Tucson': [apparels(data='2012-10-17', time='15:30', city='Tucson', type='Crafts', amount='489.93', card='Cash')],
 'San Francisco': [apparels(data='2012-10-25', time='15:01', city='San Francisco', type="Men's Clothing", amount='388.3', card='Visa')],
 'Dallas': [apparels(data='2012-07-13', time='09:01', city='Dallas', type='Consumer Electronics', amount='145.63', card='Cash')],
 'Tampa': [apparels(data='2012-11-06', time='13:02', city='Tampa', type='Garden', amount='353.23', card='MasterCard')],
 'Washington': [apparels(data='2012-09-07', time='12:58', city='Washington', type="Women's Clothing", amount='481.31', card='MasterCard')],
 'San Jose': [apparels(data='2012-08-05', time='16:34', city='San Jose', type='DVDs', amount='492.8', card='Discover')],
 'Newark': [apparels(data='2012-04-22', time='13:12', city='Newark', type='Consumer Electronics', amount='410.37', card='Visa')],
 'Memphis': [apparels(data='2012-10-19', time='11:35', city='Memphis', type='Garden', amount='354.44', card='Discover')],
 'Jersey City': [apparels(data='2012-10-10', time='13:17', city='Jersey City', type='Books', amount='369.07', card='Amex')],
 'Plano': [apparels(data='2012-04-27', time='11:54', city='Plano', type="Women's Clothing", amount='4.65', card='Cash')],
 'Buffalo': [apparels(data='2012-12-29', time='16:56', city='Buffalo', type='Garden', amount='386.56', card='Amex')],
 'Louisville': [apparels(data='2012-09-17', time='13:09', city='Louisville', type='Music', amount='213.64', card='Discover')],
 'Los': [apparels(data='2012-01-02', time='10:04', city='Los', type='Angeles Pet Supplies', amount='164.5', card='Discover')],
 'Birmingham': [apparels(data='2012-11-15', time='15:46', city='Birmingham', type="Men's Clothing", amount='1.64', card='Cash')],
 'Mesa': [apparels(data='2012-03-16', time='11:18', city='Mesa', type='Toys', amount='13.79', card='Visa')],
 'Wichita': [apparels(data='2012-06-25', time='10:05', city='Wichita', type='Consumer Electronics', amount='158.25', card='Amex')],
 'Indianapolis': [apparels(data='2012-08-08', time='10:09', city='Indianapolis', type='Health and Beauty', amount='464.36', card='Amex')],
 'San Bernardino': [apparels(data='2012-11-08', time='15:19', city='San Bernardino', type='Video Games', amount='332.43', card='Discover')],
 'Stockton': [apparels(data='2012-03-02', time='09:25', city='Stockton', type="Men's Clothing", amount='180.61', card='Discover')],
 'Austin': [apparels(data='2012-02-27', time='16:12', city='Austin', type='Health and Beauty', amount='48.09', card='Visa')],
 'Santa Ana': [apparels(data='2012-02-10', time='10:39', city='Santa Ana', type='Computers', amount='282.13', card='MasterCard')],
 'Gilbert': [apparels(data='2012-10-30', time='11:52', city='Gilbert', type='DVDs', amount='11.31', card='Amex')],
 'New York': [apparels(data='2012-02-03', time='11:02', city='New York', type='DVDs', amount='221.35', card='Visa')],
 'Corpus Christi': [apparels(data='2012-07-26', time='16:16', city='Corpus Christi', type='Health and Beauty', amount='157.91', card='Amex')],
 'Riverside': [apparels(data='2012-07-20', time='11:46', city='Riverside', type='Video Games', amount='349.41', card='Visa')],
 'Chicago': [apparels(data='2012-05-11', time='12:39', city='Chicago', type='Pet Supplies', amount='431.73', card='Cash')],
 'Fremont': [apparels(data='2012-02-04', time='11:53', city='Fremont', type='Video Games', amount='404.17', card='Cash')],
 'Rochester': [apparels(data='2012-01-21', time='14:50', city='Rochester', type='Cameras', amount='485.71', card='MasterCard')],
 'Raleigh': [apparels(data='2012-05-25', time='16:11', city='Raleigh', type='Computers', amount='61.22', card='MasterCard')],
 'Cincinnati': [apparels(data='2012-01-16', time='13:31', city='Cincinnati', type='Cameras', amount='129.6', card='Cash')],
 'Pittsburgh': [apparels(data='2012-12-19', time='10:12', city='Pittsburgh', type='Books', amount='498.29', card='Cash')],
 'Glendale': [apparels(data='2012-11-15', time='09:23', city='Glendale', type='Video Games', amount='14.09', card='Amex')],
 'Irvine': [apparels(data='2012-10-20', time='14:53', city='Irvine', type='Video Games', amount='15.19', card='Discover')],
 'Boston': [apparels(data='2012-03-04', time='12:11', city='Boston', type='Video Games', amount='397.21', card='Visa')],
 'Scottsdale': [apparels(data='2012-01-11', time='09:04', city='Scottsdale', type='Garden', amount='214.32', card='Discover')],
 'Atlanta': [apparels(data='2012-08-11', time='10:57', city='Atlanta', type='Garden', amount='189.22', card='Visa')],
 'Lubbock': [apparels(data='2012-01-11', time='17:20', city='Lubbock', type='Garden', amount='27.68', card='Cash')],
 'Aurora': [apparels(data='2012-03-22', time='09:57', city='Aurora', type='DVDs', amount='82.38', card='Discover')]}

In [2]:
example = {'foo': [1,2,3], 'bar': [3, 4, 1]}
reduce(lambda res, key: res.union(example[key]), example, set())

{1, 2, 3, 4}